h1 {
    text-align: center;
}

h1 + p {
    text-align: center;
}

form {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    background-color: black;
    color: white;
    width: 15rem;
    margin: 0 auto;
    padding: 0.5rem;
}

/**  Label  */
.formLabel {
    text-align: center;
}

label {
    margin-left: 5px;
}

/**  Inputs  */

#feet {
    width: 50px;
    margin-left: 5px;
}

#inch {
    width: 50px;
    margin-left: 5px;
}

#lbs {
    width: 87px;
}

/**  Buttons  */
button {
    padding: 0.2rem;
    margin-left: 2.8rem;
}

#submit_Btn {
    border: 0.1rem solid green;
    border-radius: 0.2rem;
    color: green;
}

#reset_Btn {
    border: 0.1rem solid red;
    border-radius: 0.2rem;
    color: red;
}

/** Message Return */
div {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    width: 100%;
    height: 8rem;
    margin-top: 1rem;
}

#BMI-Message_Return {
    border: 0.1rem solid green; /*! change border to white after */
    width: 60%;
    height: 4rem;
    margin: 0 auto;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

/**  Image  */

img {
    display: block;
    border-radius: 0.3rem;
    width: 500px;
    margin: 0 auto;
    margin-top: 1rem;
}
